<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="oxxo.studio">
  <meta name="copyright" content="oxxo.studio">
  <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>ezPen</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

	<script>
  let detect = false;
	if(window.DeviceOrientationEvent) {
		window.addEventListener('deviceorientation', function(event) {
      if(detect) {
        var a = document.getElementById('alpha'),
          b = document.getElementById('beta'),
          g = document.getElementById('gamma'),
          alpha = event.alpha,
          beta = event.beta,
          gamma = event.gamma;
      
      a.innerHTML = Math.round(alpha);
      b.innerHTML = Math.round(beta);
      g.innerHTML = Math.round(gamma);
      }
          
		}, false);

    window.addEventListener('devicemotion', function(event) {
      if(detect) {
    var tx = document.getElementById('tx'),
        ty = document.getElementById('ty'),
        tz = document.getElementById('tz'),
        x = event.acceleration.x,
        y = event.acceleration.y,
        z = event.acceleration.z;

    tx.innerHTML = (x).toFixed(2);
    ty.innerHTML = Math.round(y);
    tz.innerHTML = Math.round(z);
      }
    }, false);

  }else{
  	document.querySelector('body').innerHTML = 'error occurred!';
  }

  function trigger() {
    detect = !detect;
    alert("status: " + detect);
  }
	</script>
</head>
<body>
  <div id="data"> 
	alpha:<span id="alpha"></span><br/>
	beta:<span id="beta"></span><br/>
	gamma:<span id="gamma"></span><br/>
	
  x:<span id="tx"></span><br/>
  y:<span id="ty"></span><br/>
  z:<span id="tz"></span><br/>
  </div>

  <div id="statusChange">
  <button onclick="trigger();"> Activate! </button>
  </div>


  <style>
  #info {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    left: 0px;
    background: #222;
    padding: 20px 30px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, .5) 0 0 10px;
    border-radius: 0 5px 5px 0;
		font-size:16px;
  }
  
  #info a {
    color: #0bf;
    transition: .2s;
  }
  
  #info a:hover {
    color: #6df;
  }
  </style>

  <script>
  // var href = location.href;
  // var page = href.split("demo/");
  // var name = page[1].split("-demo")[0];
  // var title = document.querySelector('title').innerHTML;
  // document.getElementById('infoLink').setAttribute('href', '/articles/' + name + '.html');
  // document.getElementById('infoLink').innerHTML = title.split("demo")[0];


  function information() {
    var term = "ddddd"; // The id of your input was "begriff", not "name"
    var url = 'http://ez-pen.herokuapp.com//search?term=' + term;
    // Now send a request to your Node program
    fetch(url).then(function(res) {
        console.log(res);
        // Res will be a Response object.
        // Use res.text() or res.json() to get the information that the Node program sent.
    });
}
//information();
  </script>
</body>
</html>