<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ezPen test</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h1>This Is Heroku Awesome!</h1>
        <p>test test test</p>
    </div>
</div>

</body>
</html>