<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="author" content="oxxo.studio">
  <meta name="copyright" content="oxxo.studio">
  <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<title>ezPen</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">

	<script>
  var test = 1;
  let detect = false;

  function submitForm(){
    $('#dataForm').submit( function () {
      //var formdata = $(#dataForm).serialize();

      $.ajax({
          type: "POST",
          url: "/",
          data: {
            X:x, 
            Y:y , 
            Z:z
          },
       });
      return false;
    });

  }
	if(window.DeviceOrientationEvent) {
		window.addEventListener('deviceorientation', function(event) {
      if(detect) {
        var a = document.getElementById('alpha'),
          b = document.getElementById('beta'),
          g = document.getElementById('gamma'),
          alpha = event.alpha,
          beta = event.beta,
          gamma = event.gamma;
      
      a.innerHTML = Math.round(alpha);
      b.innerHTML = Math.round(beta);
      g.innerHTML = Math.round(gamma);
      }
          
		}, false);


    window.addEventListener('devicemotion', function(event) {
      

        setTimeout(function() {
          if(detect) {
            var tx = document.getElementById('tx'),
                ty = document.getElementById('ty'),
                tz = document.getElementById('tz'),
                x = event.acceleration.x,
                y = event.acceleration.y,
                z = event.acceleration.z;

            document.getElementById("x").value = x;
            document.getElementById("y").value = y;
            document.getElementById("z").value = z;

            tx.innerHTML = (x).toFixed(2);
            ty.innerHTML = Math.round(y);
            tz.innerHTML = Math.round(z);
            test = test+ 1;
            tt.innerHTML = (test);

            submitForm();


            //document.getElementById("dataForm").submit();
          }

      }, 1000);
    


    }, false);

  }else{
  	document.querySelector('body').innerHTML = 'error occurred!';
  }



  function trigger() {
    detect = !detect;
    alert("status: " + detect);
  }
	</script>
</head>
<body>
  <div id="data"> 
	alpha:<span id="alpha"></span><br/>
	beta:<span id="beta"></span><br/>
	gamma:<span id="gamma"></span><br/>
	
  x:<span id="tx"></span><br/>
  y:<span id="ty"></span><br/>
  z:<span id="tz"></span><br/>
  test:<span id="tt"></span><br/>
  </div>

  <div id="statusChange">
  <button onclick="trigger();"> Activate! </button>
  </div>

  <form method="post" action="/" name="dataForm" id="dataForm">
    <input id = "x" type="text" name="input[obj1]">
    <input id = "y" type="text" name="input[obj2]">
    <input id = "z" type="text" name="input[obj3]">
    <!-- <button onclick="submitForm()">submit</button> -->
  </form>



  <style>
  #info {
    position: fixed;
    z-index: 999;
    bottom: 20px;
    left: 0px;
    background: #222;
    padding: 20px 30px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, .5) 0 0 10px;
    border-radius: 0 5px 5px 0;
		font-size:16px;
  }
  
  #info a {
    color: #0bf;
    transition: .2s;
  }
  
  #info a:hover {
    color: #6df;
  }
  </style>

</body>
</html>